<div class="bg-white py-4 sm:py-8 lg:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="max-w-2xl text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <h2 class="inline sm:block">Want product news and updates?</h2>
      <p class="inline sm:block">Sign up for our newsletter.</p>
    </div>
    <form class="mt-10 max-w-md">
      <div class="flex gap-x-4">
        <label for="email-address" class="sr-only">Email address</label>
        <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter your email">
        <button type="submit" class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-owlsearch2 rounded-lg border border-black hover:bg-owlsearch3 focus:ring-4 focus:outline-none focus:ring-owlsearch3 dark:bg-owlsearch2 dark:hover:bg-owlsearch2-50 dark:focus:ring-owlsearch3">Subscribe</button>
      </div>
      <p class="mt-4 text-sm leading-6 text-gray-900">We care about your data. Read our <a href="#" class="font-semibold text-owlsearch2 hover:text-owlsearch3">privacy&nbsp;policy</a>.</p>
    </form>
  </div>
</div>