<div class="mx-10 pt-5">
  <h3 class="text-base font-semibold leading-6 text-gray-900">Last 30 days</h3>
  <dl class="mt-5 grid grid-cols-1 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow md:grid-cols-3 md:divide-x md:divide-y-0">
    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-normal text-gray-900">Total Views</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-tealowl2">
          818,973
          <span class="ml-2 text-sm font-medium text-gray-500">from 700,946</span>
        </div>

        <div class="inline-flex items-baseline rounded-full px-2.5 py-0.5 text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
          <svg class="-ml-1 mr-0.5 h-5 w-5 flex-shrink-0 self-center text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only"> Increased by </span>
          12%
        </div>
      </dd>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-normal text-gray-900">Amount of Vehicles Reviewed</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-tealowl2">
          58.16%
          <span class="ml-2 text-sm font-medium text-gray-500">from 56.14%</span>
        </div>

        <div class="inline-flex items-baseline rounded-full px-2.5 py-0.5 text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
          <svg class="-ml-1 mr-0.5 h-5 w-5 flex-shrink-0 self-center text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only"> Increased by </span>
          2.02%
        </div>
      </dd>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-normal text-gray-900">Avg. Negative Reviews</dt>
      <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-tealowl2">
          1.57%
          <span class="ml-2 text-sm font-medium text-gray-500">from 0.62%</span>
        </div>

        <div class="inline-flex items-baseline rounded-full px-2.5 py-0.5 text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">
          <svg class="-ml-1 mr-0.5 h-5 w-5 flex-shrink-0 self-center text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only"> Decreased by </span>
          4.05%
        </div>
      </dd>
    </div>
  </dl>
</div>


<div class="bg-white py-10 mt-5 mx-10 rounded-xl">
  <h2 class="px-4 text-base font-semibold leading-7 text-owlsearch3 sm:px-6 lg:px-8">Vehicle Analysis</h2>
  <table class="mt-6 w-full whitespace-nowrap text-left">
    <colgroup>
      <col class="lg:w-3/12 sm:w-4/12">
      <col class="lg:w-2/12">
      <col class="lg:w-2/12">
      <col class="lg:w-2/12">
      <col class="lg:w-1/12">
      <col class="lg:w-1/12">
    </colgroup>
    <thead class="border-b border-white/10 text-sm leading-6 text-black">
      <tr>
        <th scope="col" class="py-2 pl-4 pr-8 font-semibold sm:pl-6 lg:pl-8">Vehicles</th>
        <th scope="col" class="hidden py-2 pl-1 pr-8 font-semibold sm:table-cell">Vehicle Avg Rating</th>
        <th scope="col" class="hidden py-2 pl-1 pr-8 font-semibold sm:table-cell">Your Rating</th>
        <th scope="col" class="py-2 pl-0 pr-4 text-right font-semibold sm:pr-8 sm:text-left lg:pr-20">Ownership</th>
        <th scope="col" class="hidden py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Last Review</th>
        <th scope="col" class="hidden py-2 pl-0 pr-4 text-right font-semibold sm:table-cell sm:pr-6 lg:pr-8">Views</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-black/5">
      <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <img src="/images/1981-Datsun-B-210.jpg" alt="" class="h-8 w-8 rounded-full bg-gray-800">
            <div class="truncate text-sm font-medium leading-6 text-black">2019 Honda Civic</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 5star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 5star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <div class="flex-none rounded-full p-1 text-green-400 bg-green-400/10">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-black sm:block">In Garage</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">45 minutes ago</time>
        </td>
      </tr>
 <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <img src="/images/1969-ford-mustang-boss-302.jpeg" alt="Icon of Car" class="h-8 w-8 rounded-full bg-gray-800">
            <div class="truncate text-sm font-medium leading-6 text-black">2014 Toyota RAV4</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 4star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 5star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <div class="flex-none rounded-full p-1 text-green-400 bg-green-400/10">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-black sm:block">In Garage</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">4 days ago</time>
        </td>
      </tr>
       <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <img src="/images/1969-volkswagon-beetle.jpg" alt="Icon of Car" class="h-8 w-8 rounded-full bg-gray-800">
            <div class="truncate text-sm font-medium leading-6 text-black">2020 Ford Explorer</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 3star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 4star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <div class="flex-none rounded-full p-1 text-gray-400 bg-gray-400/10">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-black sm:block"> </div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">1 year ago</time>
        </td>
      </tr>
       <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <img src="/images/1970-corvette-chronology.jpg" alt="Icon of Car" class="h-8 w-8 rounded-full bg-gray-800">
            <div class="truncate text-sm font-medium leading-6 text-black">2011 Mercedes GL450</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 4star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 3star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <div class="flex-none rounded-full p-1 text-green-400 bg-green-400/10">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-black sm:block">In Garage</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">54 days ago</time>
        </td>
      </tr>
     <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <img src="/images/1955_mercedes-benz_300sl-gullwing_t7.jpg" alt="Icon of Car" class="h-8 w-8 rounded-full bg-gray-800">
            <div class="truncate text-sm font-medium leading-6 text-black">1993 BMW 325IS</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 5star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 5star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <div class="flex-none rounded-full p-1 text-gray-400 bg-gray-400/10">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-black sm:block"></div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">52 weeks ago</time>
        </td>
      </tr>
      <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <img src="/images/1981-Datsun-B-210.jpg" alt="Icon of Car" class="h-8 w-8 rounded-full bg-gray-800">
            <div class="truncate text-sm font-medium leading-6 text-black">2017 Kia Sorento</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 4star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 2star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <div class="flex-none rounded-full p-1 text-gray-400 bg-gray-400/10">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-black sm:block"></div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">32 minutes ago</time>
        </td>
      </tr>
      <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <img src="/images/2017-Ford-F350.png" alt="Icon of Car" class="h-8 w-8 rounded-full bg-gray-800">
            <div class="truncate text-sm font-medium leading-6 text-black">2022 Honda NSX</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 5star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 5star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <div class="flex-none rounded-full p-1 text-green-400 bg-green-400/10">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-black sm:block">In Garage</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">Just now</time>
        </td>
      </tr>
      <tr>
        <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
          <div class="flex items-center gap-x-4">
            <img src="/images/2019-civic-hatchback-front.png" alt="Icon of Car" class="h-8 w-8 rounded-full bg-gray-800">
            <div class="truncate text-sm font-medium leading-6 text-black">1981 Cadillac L62</div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 2star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
            <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
          <div class="flex gap-x-3">
            <div class="font-mono text-sm leading-6 text-gray-400">
{{!-- Rating --}}
{{> 3star}}
            </div>
            <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-white/10">main</div>
          </div>
        </td>
        <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
          <div class="flex items-center justify-end gap-x-2 sm:justify-start">
            <div class="flex-none rounded-full p-1 text-gray-400 bg-gray-400/10">
              <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
            </div>
            <div class="hidden text-black sm:block"></div>
          </div>
        </td>
        <td class="hidden py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">25s</td>
        <td class="hidden py-4 pl-0 pr-4 text-right text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
          <time datetime="2023-01-23T11:00">12 years ago</time>
        </td>
      </tr>
    </tbody>
  </table>
</div>
