<!-- Hero Section -->
      <div class="relative isolate pt-0">
        <div class="mx-auto max-w-7xl px-6 p-5 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-10">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
            <div class="flex">
            </div>
            <p class="text-base font-semibold leading-7 text-owltext1">Get the Owlmobile Review help you need</p>
            <h1 class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Wheel Wisdom</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600 font-maven">Owl you in the market for a new car? Or perhaps you're a passionate automobile aficionado looking to stay updated with the latest industry trends and expert opinions. Look no further! Wheel Wisdom is here to revolutionize your car-buying experience.</p>

<!-- Search Bar  -->
  <form action="/search1" method="GET" class="flex items-center py-10 mx-auto max-w-2xl text-center">
  <label for="search-bar" class="sr-only">Search</label>
  <div class="relative w-full">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
    </div>
    <input type="text" name="search" id="search-bar" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-owlsearch3 focus:border-owlsearch3 block w-full pl-10 p-2.5  dark:bg-owlsearch dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-owlsearch3 dark:focus:border-owlsearch3" placeholder="Search Car Make, Model, or Year..." required>
  </div>
     <button type="submit" class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-owlsearch2 rounded-lg border border-black hover:bg-owlsearch3 focus:ring-4 focus:outline-none focus:ring-owlsearch3 dark:bg-owlsearch2 dark:hover:bg-owlsearch2-50 dark:focus:ring-owlsearch3">
              <svg aria-hidden="true" class="w-5 h-5 mr-2 -ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>Search
          </button>
</form>
          
<!-- Hero Section Image -->
          </div>
          <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
            <svg viewBox="0 0 366 429" role="img" class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl">
              <title>Owl on Wheel</title>
              <foreignObject width="316" height="684" transform="translate(24 24)" clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)">
                <img src="/images/owlsmaincircle.png" alt="" />
              </foreignObject>
            </svg>
          </div>
        </div>
      {{> testimonials}}
      {{> newsletter}}
