 <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"/>
 
 <body class="text-blueGray-700 antialiased ">
      
      <div id="root">
        
        <div class="relative  ">
          
          <!-- Header -->
          <div class="relative md:pt-3 pb-32 ">
            
          </div>
          <div class="px-4 md:px-20 mx-auto w-full -m-24">
      <!-- car image -->
            <div class="flex flex-wrap place-content-center ">
              <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
                <div
                  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-blueGray-800">
                  <div class="rounded-t-md mb-0 px-4 py-3 bg-transparent">
                    <div class="flex flex-wrap items-center">
                      <div class="relative w-full max-w-full flex-grow flex-1">
          <!-- handlebar this image -->
                        <img src="/images/2019-civic-hatchback-front.png" alt="grey honda civic" >

                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
  <!-- Car Description  -->
              <div class="w-full xl:w-4/12 px-4  ">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                  <div class="rounded-t mb-0 px-4 py-3 bg-transparent  ">
                    <div class="flex flex-wrap items-center ">
                      <div class="relative w-full max-w-full flex-grow flex-1  ">
        <!-- handlebar this information -->
                        <ul class="">
                          <li id="year" class="uppercase text-blueGray-400 mb-1 text-xl font-semibold">2019</li>
                          <li id="Make" class="text-blueGray-700 text-4xl font-semibold mb-1">Honda</li>
                          <li id="model" class=" text-3xl mb-1">Civic</li>
                          <li id="" class=""></li>
                          
                        </ul>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
  <!-- Review Section -->
            <div class="flex flex-wrap mt-4 mb-12 place-content-center rounded-lg">
              <div class="w-full xl:w-12 mb-12 xl:mb-0 px-4">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                  <div class="rounded-t mb-0 px-4 py-3 border-0">
                    <div class="flex flex-wrap items-center">
                      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                        <h3 class="text-2xl font-semibold mb-1">Comments</h3>
                      </div>
      <!-- leave a reivew button -->
                      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                        <button
                          class="bg-owlsearch2 text-white active:bg-yellow-200 text-xs font-bold uppercase px-4 py-3 rounded-full outline-none focus:outline-none mr-1 mb-1 mt-1"
                          type="button"
                          style="transition:all .15s ease">
                          Leave a Review
                        </button>
                      </div>
                    </div>
                  </div>
      <!-- UserName & Review -->

                  <div class="block w-full overflow-x-auto ">
                     <div class="bg-white p-4">
                      <div class="space-y-4">
                 <!--handlebar the commments   -->
                        <div class="flex mt-4 mb-4">
                          <div class="ml-4">
                            <h4 class="text-xl font-semibold">John Doe</h4>
                            <p class="text-gray-600 ml-8 mr-1 mt-1" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                          
                        </div>
                        <div class="flex mt-4 mb-4">
                          <div class="ml-4">
                            <h4 class="text-xl font-semibold">John Doe</h4>
                            <p class="text-gray-600 ml-8 mr-1 mt-1" >Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                          
                        </div>
                 <!-- More comments... -->
                      </div>
                    </div>
                    



                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
  